@media only screen and (max-width: 768px) {
  #root {
    min-height: 100dvh;
  }

  .clock-date,
  .clock-spacing {
    display: none;
  }

  .contact-container {
    .contact-block {
      &.__map {
        height: calc(100dvh - 56px - 8rem - 149px);
      }
    }
  }
}
